<a href="https://colab.research.google.com/github/syedmahmed2424/CSV-files-and-Pandas/blob/main/Data%20deletion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#you need a csv file to store df in it.
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.DataFrame({'A':[12,234,6,"N/a",9],
                 'B':[1,2,5,6,None],
                 'C':[4,5,6,3,'N/A'],
                 'D':[12,4,6,"n/a", "NaN"],
                 'E':[np.nan, "not applicable",12,3,3]})
df.to_csv("/content/time_series_covid19_confirmed_global.csv")


print(df)


df=pd.read_csv("/content/time_series_covid19_confirmed_global.csv", index_col=[0], na_values=["N/A","N/a","not applicable"])

print(df.head())




#open csv file:
data=pd.read_csv("/content/iris.csv")
display(data)


df.head()


df.sum() #giving you the sum of the columns


covid_1=data.copy()
covid_1["sepal_width"].mean() #pandas skips the missing value


#
[ ]
#you need a csv file to store df in it.
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.DataFrame({'A':[12,234,6,"N/a",9],
                 'B':[1,2,5,6,None],
                 'C':[4,5,6,3,'N/A'],
                 'D':[12,4,6,"n/a", "NaN"],
                 'E':[np.nan, "not applicable",12,3,3]})
df.to_csv("/content/time_series_covid19_confirmed_global.csv")


print(df)


df=pd.read_csv("/content/time_series_covid19_confirmed_global.csv", index_col=[0], na_values=["N/A","N/a","not applicable"])

print(df.head())

#open csv file:
data=pd.read_csv("/content/iris.csv")
display(data)

# Pairwise Deletion
[ ]
df.head()

[ ]
df.sum() #giving you the sum of the columns

covid_1=data.copy()
covid_1["sepal_width"].mean() #pandas skips the missing value

##Listwise Deletion



df.dropna() #drops all the rows which has null values

print(df)

df.dropna(subset=['A']) #drop all the rows in which the column A's values are missing/NaN

df.dropna(axis='rows', thresh=4) # non-null values >= 4 >- will not delete

##Dropping Entire Columns

df.dropna(axis='columns')  #drop entire columns which have missing value in it.

display(df)

df.dropna(subset=['A','B'], how='all')

In [7]:
df.dropna(axis=1, how='all')

       A    B    C     D     E
0   12.0  1.0  4.0  12.0   NaN
1  234.0  2.0  5.0   4.0   NaN
2    6.0  5.0  6.0   6.0  12.0
3    NaN  6.0  3.0   NaN   3.0
4    9.0  NaN  NaN   NaN   3.0

In [10]:
#drop if the column have less than 4 non null values
df.dropna(axis=1, thresh=4) #instead 'columns' also used

       A    B    C
0   12.0  1.0  4.0
1  234.0  2.0  5.0
2    6.0  5.0  6.0
3    NaN  6.0  3.0
4    9.0  NaN  NaN

In [13]:
#drop if the column has less than 80 persent of the non-null values
df.dropna(axis=1, thresh=int(df.shape[0]*0.8))

       A    B    C
0   12.0  1.0  4.0
1  234.0  2.0  5.0
2    6.0  5.0  6.0
3    NaN  6.0  3.0
4    9.0  NaN  NaN